<div class="nav-bar">
  <div class="link-dis">
    <div class="links1">
      <a>Link</a> <a>Link</a>
      <a>Link</a>
    </div>
    <div class="links2">
      <a class="link2-dis">Link</a>
    </div>
  </div>
</div>
