$mobile: 400px;

a {
  color: #f2f2f2;
  font-family: Arial;
  @media screen and (max-width: $mobile) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.nav-bar {
  height: 100%;
  width: 100%;
  background-color: #333;
}

.link-dis {
  @media screen and (min-width: $mobile) {
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: $mobile) {
    display: flexbox;
    flex-wrap: nowrap;
  }
}

.links1 {
  @media screen and (min-width: $mobile) {
    width: 30%;
    justify-content: space-around;
    display: flex;
  }
}

.links2 {
  @media screen and (min-width: $mobile) {
    width: 70%;
    justify-content: flex-end;
    display: flex;
  }
}

.link2-dis {
  @media screen and (min-width: $mobile) {
    margin-right: 5%;
  }
}
