<form [formGroup]="form">
  <select formControlName="user" (change)="userSelected($event.target)">
    <option *ngFor="let user of users" [value]="user.id">
      {{ user.displayName }}
    </option>
  </select>
</form>
