$mobile: 400px;

.header {
  @media screen and (min-width: $mobile) {
    height: 100px;
  }
}

.content-display {
  display: flex;
}

.section-blocks {
  @media screen and (min-width: $mobile) {
    width: 80%;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.section-blocks-align {
  display: flex;
  flex-wrap: wrap;
}

.element {
  @media screen and (min-width: $mobile) {
    min-width: 25%;
  }
  @media screen and (max-width: $mobile) {
    min-width: 90%;
  }
  margin-right: 3%;
  margin-left: 3%;
  margin: 3%;
  height: 250px;
}

.asid {
  @media screen and (min-width: $mobile) {
    width: 20%;
    margin: 3%;
  }
}
