<div class="header">
  <app-header></app-header>
</div>
<div class="content-display">
  <div class="section-blocks">
    <div class="section-blocks-align">
      <div *ngFor="let item of blocks" class="element">
        <app-block-element
          [number]="item.Num"
          [color]="item.Color"
        ></app-block-element>
      </div>
    </div>
  </div>
  <div class="asid">
    <app-block-element [number]="0" [color]="'white'"></app-block-element>
  </div>
</div>
<div class="header">
  <app-footer></app-footer>
</div>
