$mobile: 400px;

.header {
  @media screen and (min-width: $mobile) {
    height: 70%;
  }
  @media screen and (max-width: $mobile) {
    height: 50px;
  }
}

.nav-bar {
  @media screen and (min-width: $mobile) {
    height: 30%;
  }
}
